USE [master]
GO
/****** Object:  Database [MRGFE]    Script Date: 07/03/2023 08:03:53 p. m. ******/
CREATE DATABASE [MRGFE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MRGFE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MRGFE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MRGFE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MRGFE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MRGFE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MRGFE]
GO
/****** Object:  Table [dbo].[tblMRGFECamposFacturama]    Script Date: 07/03/2023 08:03:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMRGFECamposFacturama](
	[CAMPOSFAID] [varchar](50) NOT NULL,
	[CAMPOSFACAMPO] [varchar](100) NOT NULL,
	[CAMPOSFAETIQUETA] [varchar](500) NOT NULL,
	[CAMPOSFATIPODATO] [varchar](100) NOT NULL,
	[CAMPOSFAARREGLO1] [bit] NOT NULL,
	[CAMPOSFAVERSION] [varchar](100) NOT NULL,
	[CAMPOSFAOBLIGA1] [bit] NOT NULL,
UNIQUE NONCLUSTERED 
(
	[CAMPOSFAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMRGFECamposMirage]    Script Date: 07/03/2023 08:03:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMRGFECamposMirage](
	[CAMPOSMIID] [varchar](50) NOT NULL,
	[CAMPOSMICAMPO] [varchar](100) NOT NULL,
	[CAMPOSMIETIQUETA] [varchar](500) NOT NULL,
	[CAMPOSMITIPODATO] [varchar](100) NOT NULL,
	[CAMPOSMIARREGLO1] [bit] NOT NULL,
	[CAMPOSMIVERSION] [varchar](100) NOT NULL,
	[CAMPOSMIOBLIGA1] [bit] NOT NULL,
UNIQUE NONCLUSTERED 
(
	[CAMPOSMIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMRGFECFDIs]    Script Date: 07/03/2023 08:03:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMRGFECFDIs](
	[CFDIID] [varchar](50) NOT NULL,
	[CFDIFOLIOFISCAL] [varchar](50) NOT NULL,
	[CFDISERIE] [varchar](50) NOT NULL,
	[CFDIRSOCEMISOR] [varchar](500) NOT NULL,
	[CFDIRFCEMISOR] [varchar](50) NOT NULL,
	[CFDIRSOCRECEPTOR] [varchar](500) NOT NULL,
	[CFDIRFCRECEPTOR] [varchar](50) NOT NULL,
	[CFDIFECHA] [datetime] NOT NULL,
	[CFDITOTAL] [money] NOT NULL,
	[CFDIEMAIL] [varchar](50) NULL,
	[CFDIESACTIVO] [varchar](50) NULL,
	[CFDIEMAILENVIADO] [bit] NULL,
	[CFDIPDF] [varbinary](max) NULL,
	[CFDIXML] [varbinary](max) NULL,
	[CFDIPROCESADO1PDF] [bit] NULL,
	[CFDIPROCESADO1XML] [bit] NULL,
	[CFDIURLPDF] [varchar](8000) NULL,
	[CFDIURLXML] [varchar](8000) NULL,
	[CFDIFECHAPROCESADOPDF] [datetime] NULL,
	[CFDIFECHAPROCESADOXML] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMRGFEEmisor]    Script Date: 07/03/2023 08:03:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMRGFEEmisor](
	[EMISORRFC] [varchar](50) NOT NULL,
	[EMISORRAZSOCIAL] [varchar](500) NOT NULL,
	[EMISORESTATUS] [varchar](50) NOT NULL,
	[EMISORREGFISCAL] [varchar](50) NOT NULL,
	[EMISORCORREO] [varchar](100) NOT NULL,
	[EMISORLOGOURL] [varchar](500) NULL,
	[EMISORCODPOSTAL] [varchar](20) NOT NULL,
	[EMISORMUNICIPIO] [varchar](100) NOT NULL,
	[EMISORESTADO] [varchar](50) NOT NULL,
	[EMISORCOLONIA] [varchar](100) NOT NULL,
	[EMISORCALLE] [varchar](100) NOT NULL,
	[EMISORNOEXTERIOR] [varchar](30) NULL,
	[EMISORNOINTERIOR] [varchar](30) NULL,
	[EMISORFOLIOINIC] [varchar](50) NULL,
UNIQUE NONCLUSTERED 
(
	[EMISORRFC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMRGFECFDIs] ADD  DEFAULT ((0)) FOR [CFDIPROCESADO1PDF]
GO
ALTER TABLE [dbo].[tblMRGFECFDIs] ADD  DEFAULT ((0)) FOR [CFDIPROCESADO1XML]
GO
/****** Object:  StoredProcedure [dbo].[procMRGFECamposFacturamaActualizar]    Script Date: 07/03/2023 08:03:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procMRGFECamposFacturamaActualizar] 
	@CAMPOSFAID varchar(50) = '',
	@CAMPOSFACAMPO varchar(100) = '',
	@CAMPOSFAETIQUETA varchar(500) = '',
	@CAMPOSFATIPODATO varchar(100) = '',
	@CAMPOSFAARREGLO1 bit = 0,
	@CAMPOSFAVERSION varchar(100) = '',
	@CAMPOSFAOBLIGA1 bit = 0
AS
	/* jme 20230209. Actualiza un Campo Facturama derivado de los parametros del sp*/
	UPDATE tblMRGFECamposFacturama
	SET CAMPOSFAID = @CAMPOSFAID
		,CAMPOSFACAMPO = @CAMPOSFACAMPO
		,CAMPOSFAETIQUETA = @CAMPOSFAETIQUETA
		,CAMPOSFATIPODATO = @CAMPOSFATIPODATO
		,CAMPOSFAARREGLO1 = @CAMPOSFAARREGLO1
		,CAMPOSFAVERSION = @CAMPOSFAVERSION
		,CAMPOSFAOBLIGA1 = @CAMPOSFAOBLIGA1
	WHERE CAMPOSFAID = @CAMPOSFAID;
GO
/****** Object:  StoredProcedure [dbo].[procMRGFECamposFacturamaCrear]    Script Date: 07/03/2023 08:03:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procMRGFECamposFacturamaCrear] 
	@CAMPOSFAID varchar(50) = '',
	@CAMPOSFACAMPO varchar(100) = '',
	@CAMPOSFAETIQUETA varchar(500) = '',
	@CAMPOSFATIPODATO varchar(100) = '',
	@CAMPOSFAARREGLO1 bit = 0,
	@CAMPOSFAVERSION varchar(100) = '',
	@CAMPOSFAOBLIGA1 bit = 0
AS
	/* jme 20230209. Da de alta un Campo Facturama derivado de los parametros del sp*/
	INSERT INTO tblMRGFECamposFacturama
	VALUES( @CAMPOSFAID,
			@CAMPOSFACAMPO,
			@CAMPOSFAETIQUETA, 
			@CAMPOSFATIPODATO,
			@CAMPOSFAARREGLO1,
			@CAMPOSFAVERSION,
			@CAMPOSFAOBLIGA1);
GO
/****** Object:  StoredProcedure [dbo].[procMRGFECamposFacturamaEliminar]    Script Date: 07/03/2023 08:03:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procMRGFECamposFacturamaEliminar] 
	@CAMPOSFAID varchar(50) = ''
AS
	/* jme 20230209. Elimina un Campo Facturama derivado de los parametros del sp*/
	DELETE tCF
	FROM tblMRGFECamposFacturama tCF
	WHERE CAMPOSFAID = @CAMPOSFAID;
GO
/****** Object:  StoredProcedure [dbo].[procMRGFECamposFacturamaRecuperar]    Script Date: 07/03/2023 08:03:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procMRGFECamposFacturamaRecuperar]
	@accion int = 0,
	@CAMPOSFAID varchar(50) = ''
AS
	/* jme 20230215. Consultar los Campos Facturama registrados*/
	IF (@accion = 1)
		SELECT 
			tCF.CAMPOSFAID,
			tCF.CAMPOSFACAMPO,
			tCF.CAMPOSFAETIQUETA,
			tCF.CAMPOSFATIPODATO,
			tCF.CAMPOSFAARREGLO1,
			tCF.CAMPOSFAVERSION,
			tCF.CAMPOSFAOBLIGA1
		FROM tblMRGFECamposFacturama tCF;
	/* jme 20230209. Consultar los Campos Facturama por ID del parametro de busqueda*/
	IF (@accion = 2)
		SELECT 
			tCF.CAMPOSFAID,
			tCF.CAMPOSFACAMPO,
			tCF.CAMPOSFAETIQUETA,
			tCF.CAMPOSFATIPODATO,
			tCF.CAMPOSFAARREGLO1,
			tCF.CAMPOSFAVERSION,
			tCF.CAMPOSFAOBLIGA1
		FROM tblMRGFECamposFacturama tCF
		WHERE tCF.CAMPOSFAID = @CAMPOSFAID;
GO
/****** Object:  StoredProcedure [dbo].[procMRGFECamposMirageActualizar]    Script Date: 07/03/2023 08:03:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procMRGFECamposMirageActualizar] 
	@CAMPOSMIID varchar(50) = '',
	@CAMPOSMICAMPO varchar(100) = '',
	@CAMPOSMIETIQUETA varchar(500) = '',
	@CAMPOSMITIPODATO varchar(100) = '',
	@CAMPOSMIARREGLO1 bit = 0,
	@CAMPOSMIVERSION varchar(100) = '',
	@CAMPOSMIOBLIGA1 bit = 0
AS
	/* jme 20230209. Actualiza un Campo Mirage derivado de los parametros del sp*/
	UPDATE tblMRGFECamposMirage
	SET CAMPOSMIID = @CAMPOSMIID
		,CAMPOSMICAMPO = @CAMPOSMICAMPO
		,CAMPOSMIETIQUETA = @CAMPOSMIETIQUETA
		,CAMPOSMITIPODATO = @CAMPOSMITIPODATO
		,CAMPOSMIARREGLO1 = @CAMPOSMIARREGLO1
		,CAMPOSMIVERSION = @CAMPOSMIVERSION
		,CAMPOSMIOBLIGA1 = @CAMPOSMIOBLIGA1
	WHERE CAMPOSMIID = @CAMPOSMIID;
GO
/****** Object:  StoredProcedure [dbo].[procMRGFECamposMirageCrear]    Script Date: 07/03/2023 08:03:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procMRGFECamposMirageCrear] 
	@CAMPOSMIID varchar(50) = '',
	@CAMPOSMICAMPO varchar(100) = '',
	@CAMPOSMIETIQUETA varchar(500) = '',
	@CAMPOSMITIPODATO varchar(100) = '',
	@CAMPOSMIARREGLO1 bit = 0,
	@CAMPOSMIVERSION varchar(100) = '',
	@CAMPOSMIOBLIGA1 bit = 0
AS
	/* jme 20230209. Da de alta un Campo Mirage derivado de los parametros del sp*/
	INSERT INTO tblMRGFECamposMirage
	VALUES( @CAMPOSMIID,
			@CAMPOSMICAMPO,
			@CAMPOSMIETIQUETA, 
			@CAMPOSMITIPODATO,
			@CAMPOSMIARREGLO1,
			@CAMPOSMIVERSION,
			@CAMPOSMIOBLIGA1);
GO
/****** Object:  StoredProcedure [dbo].[procMRGFECamposMirageEliminar]    Script Date: 07/03/2023 08:03:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procMRGFECamposMirageEliminar] 
	@CAMPOSMIID varchar(50) = ''
AS
	/* jme 20230209. Elimina un Campo Mirage derivado de los parametros del sp*/
	DELETE tCM
	FROM tblMRGFECamposMirage tCM
	WHERE CAMPOSMIID = @CAMPOSMIID;
GO
/****** Object:  StoredProcedure [dbo].[procMRGFECamposMirageRecuperar]    Script Date: 07/03/2023 08:03:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procMRGFECamposMirageRecuperar]
	@accion int = 0,
	@CAMPOSMIID varchar(50) = ''
AS
	/* jme 20230215. Consultar los Campos Mirage registrados*/
	IF (@accion = 1)
		SELECT
			tCM.CAMPOSMIID,
			tCM.CAMPOSMICAMPO,
			tCM.CAMPOSMIETIQUETA,
			tCM.CAMPOSMITIPODATO,
			tCM.CAMPOSMIARREGLO1,
			tCM.CAMPOSMIVERSION,
			tCM.CAMPOSMIOBLIGA1
		FROM tblMRGFECamposMirage tCM;
	/* jme 20230209. Consultar los Campos Mirage por ID del parametro de busqueda*/
	IF (@accion = 2)
		SELECT 
			tCM.CAMPOSMIID,
			tCM.CAMPOSMICAMPO,
			tCM.CAMPOSMIETIQUETA,
			tCM.CAMPOSMITIPODATO,
			tCM.CAMPOSMIARREGLO1,
			tCM.CAMPOSMIVERSION,
			tCM.CAMPOSMIOBLIGA1
		FROM tblMRGFECamposMirage tCM
		WHERE tCM.CAMPOSMIID = @CAMPOSMIID;
GO
/****** Object:  StoredProcedure [dbo].[procMRGFECFDIsCrear]    Script Date: 07/03/2023 08:03:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[procMRGFECFDIsCrear]
	@CFDIID varchar(50) = '' ,
	@CFDIFOLIOFISCAL varchar(50) = '',
	@CFDISERIE varchar(50) = '', 
	@CFDIRSOCEMISOR varchar(500) = '', 
	@CFDIRFCEMISOR varchar(50) = '',
	@CFDIRSOCRECEPTOR varchar(500) = '',
	@CFDIRFCRECEPTOR varchar(50) = '',	
	@CFDIFECHA datetime = '19000101', 
	@CFDITOTAL money = 0.0,
	@CFDIEMAIL varchar (50) = '',
	@CFDIESACTIVO varchar (50) = '',
	@CFDIEMAILENVIADO bit = 0,
	@CFDIPDF varbinary(max),
	@CFDIXML varbinary(max),
	@CFDIPROCESADO1PDF bit = 0,
	@CFDIPROCESADO1XML bit = 0,
	@CFDIURLPDF varchar (8000) = '',
	@CFDIURLXML varchar (8000) = '',
	@CFDIFECHAPROCESADOPDF datetime = '19000101',
	@CFDIFECHAPROCESADOXML datetime = '19000101'
AS
	/* jme 20230209. Da de alta un CFDI derivado de los parametros del sp*/
	INSERT INTO tblMRGFECFDIs 
	VALUES( @CFDIID,
			@CFDIFOLIOFISCAL,
			@CFDISERIE, 
			@CFDIRSOCEMISOR, 
			@CFDIRFCEMISOR,
			@CFDIRSOCRECEPTOR,
			@CFDIRFCRECEPTOR,
			@CFDIFECHA, 
			@CFDITOTAL,
			@CFDIEMAIL,
			@CFDIESACTIVO,
			@CFDIEMAILENVIADO,
			@CFDIPDF,
			@CFDIXML,
			@CFDIPROCESADO1PDF,
			@CFDIPROCESADO1XML,
			@CFDIURLPDF,
			@CFDIURLXML,
			@CFDIFECHAPROCESADOPDF,
			@CFDIFECHAPROCESADOXML);
GO
/****** Object:  StoredProcedure [dbo].[procMRGFECFDIsRecuperacionCFDIs]    Script Date: 07/03/2023 08:03:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[procMRGFECFDIsRecuperacionCFDIs]
	@accion int = 0,
	@CFDIID varchar(50) = '' ,
	@CFDIFOLIOFISCAL varchar(50) = '', 
	@CFDIFECHAINICIO datetime = '19000101',
	@CFDIFECHAFIN datetime = '19000101',
	@CFDIRFCEMISOR varchar(50) = '',
	@CFDIRFCRECEPTOR varchar(50) = ''
AS
/* jme 20230215. Consultar los CFDIs registrados*/
	IF (@accion = 1)
		SELECT
			tCF.CFDIID,
			tCF.CFDIFOLIOFISCAL,
			tCF.CFDISERIE,
			tCF.CFDIRSOCEMISOR,
			tCF.CFDIRFCEMISOR,
			tCF.CFDIRSOCRECEPTOR,
			tCF.CFDIRFCRECEPTOR,
			tCF.CFDIFECHA,
			tCF.CFDITOTAL,
			tCF.CFDIEMAIL,
			tCF.CFDIESACTIVO,
			tCF.CFDIEMAILENVIADO,
			tCF.CFDIPDF,
			tCF.CFDIXML,
			tCF.CFDIPROCESADO1PDF,
			tCF.CFDIPROCESADO1XML,
			tCF.CFDIURLPDF,
			tCF.CFDIURLXML,
			tCF.CFDIFECHAPROCESADOPDF,
			tCF.CFDIFECHAPROCESADOXML
		FROM tblMRGFECFDIs tCF;
	/* jme 20230215. Consultar los CFDIs con el id del parametro de busqueda*/
	IF (@accion = 2)
		SELECT 
			tCF.CFDIID,
			tCF.CFDIFOLIOFISCAL,
			tCF.CFDISERIE,
			tCF.CFDIRSOCEMISOR,
			tCF.CFDIRFCEMISOR,
			tCF.CFDIRSOCRECEPTOR,
			tCF.CFDIRFCEMISOR,
			tCF.CFDIRFCRECEPTOR,
			tCF.CFDIFECHA,
			tCF.CFDITOTAL,
			tCF.CFDIEMAIL,
			tCF.CFDIESACTIVO,
			tCF.CFDIEMAILENVIADO,
			tCF.CFDIPDF,
			tCF.CFDIXML,
			tCF.CFDIPROCESADO1PDF,
			tCF.CFDIPROCESADO1XML,
			tCF.CFDIURLPDF,
			tCF.CFDIURLXML,
			tCF.CFDIFECHAPROCESADOPDF,
			tCF.CFDIFECHAPROCESADOXML
		FROM tblMRGFECFDIs tCF
		WHERE tCF.CFDIID = @CFDIID;
	/* jme 20230215. Consultar los CFDIs por el folio fiscal del parametro de busqueda*/
	IF (@accion = 3)
		SELECT 
			tCF.CFDIID,
			tCF.CFDIFOLIOFISCAL,
			tCF.CFDISERIE,
			tCF.CFDIRSOCEMISOR,
			tCF.CFDIRFCEMISOR,
			tCF.CFDIRSOCRECEPTOR,
			tCF.CFDIRFCEMISOR,
			tCF.CFDIRFCRECEPTOR,
			tCF.CFDIFECHA,
			tCF.CFDITOTAL,
			tCF.CFDIEMAIL,
			tCF.CFDIESACTIVO,
			tCF.CFDIEMAILENVIADO,
			tCF.CFDIPDF,
			tCF.CFDIXML,
			tCF.CFDIPROCESADO1PDF,
			tCF.CFDIPROCESADO1XML,
			tCF.CFDIURLPDF,
			tCF.CFDIURLXML,
			tCF.CFDIFECHAPROCESADOPDF,
			tCF.CFDIFECHAPROCESADOXML
		FROM tblMRGFECFDIs tCF 
		WHERE CFDIFOLIOFISCAL = @CFDIFOLIOFISCAL;
	/* jme 20230215. Consultar los CFDis por rfc de emisor, rfc de receptor, ambos o por rango de fechas de los parametros de busqueda*/
	IF (@accion = 4)
		IF( @CFDIRFCRECEPTOR != '' 
			and @CFDIRFCEMISOR != '')
			   SELECT 
				tCF.CFDIID,
				tCF.CFDIFOLIOFISCAL,
				tCF.CFDISERIE,
				tCF.CFDIRSOCEMISOR,
				tCF.CFDIRFCEMISOR,
				tCF.CFDIRSOCRECEPTOR,
				tCF.CFDIRFCEMISOR,
				tCF.CFDIRFCRECEPTOR,
				tCF.CFDIFECHA,
				tCF.CFDITOTAL,
				tCF.CFDIEMAIL,
				tCF.CFDIESACTIVO,
				tCF.CFDIEMAILENVIADO,
				tCF.CFDIPDF,
				tCF.CFDIXML,
				tCF.CFDIPROCESADO1PDF,
				tCF.CFDIPROCESADO1XML,
				tCF.CFDIURLPDF,
				tCF.CFDIURLXML,
				tCF.CFDIFECHAPROCESADOPDF,
				tCF.CFDIFECHAPROCESADOXML
			FROM tblMRGFECFDIs tCF 
			   WHERE convert(varchar(8),CFDIFECHA,112) >= convert(varchar(8),@CFDIFECHAINICIO,112)
					AND convert(varchar(8),CFDIFECHA,112) <= convert(varchar(8),@CFDIFECHAFIN,112)
					and CFDIRFCRECEPTOR = @CFDIRFCRECEPTOR
					and CFDIRFCEMISOR = @CFDIRFCEMISOR;
		IF ( @CFDIRFCRECEPTOR != '' )
			   SELECT 
				tCF.CFDIID,
				tCF.CFDIFOLIOFISCAL,
				tCF.CFDISERIE,
				tCF.CFDIRSOCEMISOR,
				tCF.CFDIRFCEMISOR,
				tCF.CFDIRSOCRECEPTOR,
				tCF.CFDIRFCEMISOR,
				tCF.CFDIRFCRECEPTOR,
				tCF.CFDIFECHA,
				tCF.CFDITOTAL,
				tCF.CFDIEMAIL,
				tCF.CFDIESACTIVO,
				tCF.CFDIEMAILENVIADO,
				tCF.CFDIPDF,
				tCF.CFDIXML,
				tCF.CFDIPROCESADO1PDF,
				tCF.CFDIPROCESADO1XML,
				tCF.CFDIURLPDF,
				tCF.CFDIURLXML,
				tCF.CFDIFECHAPROCESADOPDF,
				tCF.CFDIFECHAPROCESADOXML
			FROM tblMRGFECFDIs tCF 
			   WHERE convert(varchar(8),CFDIFECHA,112) >= convert(varchar(8),@CFDIFECHAINICIO,112)
					AND convert(varchar(8),CFDIFECHA,112) <= convert(varchar(8),@CFDIFECHAFIN,112)
					and CFDIRFCRECEPTOR = @CFDIRFCRECEPTOR;
		IF ( @CFDIRFCEMISOR != '' )
			   SELECT 
				tCF.CFDIID,
				tCF.CFDIFOLIOFISCAL,
				tCF.CFDISERIE,
				tCF.CFDIRSOCEMISOR,
				tCF.CFDIRFCEMISOR,
				tCF.CFDIRSOCRECEPTOR,
				tCF.CFDIRFCEMISOR,
				tCF.CFDIRFCRECEPTOR,
				tCF.CFDIFECHA,
				tCF.CFDITOTAL,
				tCF.CFDIEMAIL,
				tCF.CFDIESACTIVO,
				tCF.CFDIEMAILENVIADO,
				tCF.CFDIPDF,
				tCF.CFDIXML,
				tCF.CFDIPROCESADO1PDF,
				tCF.CFDIPROCESADO1XML,
				tCF.CFDIURLPDF,
				tCF.CFDIURLXML,
				tCF.CFDIFECHAPROCESADOPDF,
				tCF.CFDIFECHAPROCESADOXML
			FROM tblMRGFECFDIs tCF 
			   WHERE convert(varchar(8),CFDIFECHA,112) >= convert(varchar(8),@CFDIFECHAINICIO,112)
					AND convert(varchar(8),CFDIFECHA,112) <= convert(varchar(8),@CFDIFECHAFIN,112)
					AND CFDIRFCEMISOR = @CFDIRFCEMISOR;
		IF( @CFDIRFCRECEPTOR = '' 
			and @CFDIRFCEMISOR = '')
			   SELECT 
				tCF.CFDIID,
				tCF.CFDIFOLIOFISCAL,
				tCF.CFDISERIE,
				tCF.CFDIRSOCEMISOR,
				tCF.CFDIRFCEMISOR,
				tCF.CFDIRSOCRECEPTOR,
				tCF.CFDIRFCEMISOR,
				tCF.CFDIRFCRECEPTOR,
				tCF.CFDIFECHA,
				tCF.CFDITOTAL,
				tCF.CFDIEMAIL,
				tCF.CFDIESACTIVO,
				tCF.CFDIEMAILENVIADO,
				tCF.CFDIPDF,
				tCF.CFDIXML,
				tCF.CFDIPROCESADO1PDF,
				tCF.CFDIPROCESADO1XML,
				tCF.CFDIURLPDF,
				tCF.CFDIURLXML,
				tCF.CFDIFECHAPROCESADOPDF,
				tCF.CFDIFECHAPROCESADOXML
			FROM tblMRGFECFDIs tCF 
			   WHERE convert(varchar(8),CFDIFECHA,112) >= convert(varchar(8),@CFDIFECHAINICIO,112)
					AND convert(varchar(8),CFDIFECHA,112) <= convert(varchar(8),@CFDIFECHAFIN,112);
GO
/****** Object:  StoredProcedure [dbo].[procMRGFEEmisorActualizar]    Script Date: 07/03/2023 08:03:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procMRGFEEmisorActualizar]
	@EMISORRFC varchar(50) = '',
	@EMISORRAZSOCIAL varchar(500) = '',
	@EMISORESTATUS varchar(50) = '',
	@EMISORREGFISCAL varchar(50) = '',
	@EMISORCORREO varchar(100) = '',
	@EMISORLOGOURL varchar(500) = '',
	@EMISORCODPOSTAL varchar(20) = '',
	@EMISORMUNICIPIO varchar(100) = '',
	@EMISORESTADO varchar(50) = '',
	@EMISORCOLONIA varchar(100) = '',
	@EMISORCALLE varchar(100) = '',
	@EMISORNOEXTERIOR varchar(30) = '',
	@EMISORNOINTERIOR varchar(30) = '',
	@EMISORFOLIOINIC varchar(50) = ''
AS
	/* jme 20230209. Actualiza un Emisor derivado de los parametros del sp*/
	UPDATE tblMRGFEEmisor
	SET EMISORRFC = @EMISORRFC
		,EMISORRAZSOCIAL = @EMISORRAZSOCIAL
		,EMISORESTATUS = @EMISORESTATUS
		,EMISORREGFISCAL = @EMISORREGFISCAL
		,EMISORCORREO = @EMISORCORREO
		,EMISORLOGOURL = @EMISORLOGOURL
		,EMISORCODPOSTAL = @EMISORCODPOSTAL
		,EMISORMUNICIPIO = @EMISORMUNICIPIO
		,EMISORESTADO = @EMISORESTADO
		,EMISORCOLONIA = @EMISORCOLONIA
		,EMISORCALLE = @EMISORCALLE
		,EMISORNOEXTERIOR = @EMISORNOEXTERIOR
		,EMISORNOINTERIOR = @EMISORNOINTERIOR
		,EMISORFOLIOINIC = @EMISORFOLIOINIC
	WHERE EMISORRFC = @EMISORRFC;
GO
/****** Object:  StoredProcedure [dbo].[procMRGFEEmisorCrear]    Script Date: 07/03/2023 08:03:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procMRGFEEmisorCrear] 
	@EMISORRFC varchar(50) = '',
	@EMISORRAZSOCIAL varchar(500) = '',
	@EMISORESTATUS varchar(50) = '',
	@EMISORREGFISCAL varchar(50) = '',
	@EMISORCORREO varchar(100) = '',
	@EMISORLOGOURL varchar(500) = '',
	@EMISORCODPOSTAL varchar(20) = '',
	@EMISORMUNICIPIO varchar(100) = '',
	@EMISORESTADO varchar(50) = '',
	@EMISORCOLONIA varchar(100) = '',
	@EMISORCALLE varchar(100) = '',
	@EMISORNOEXTERIOR varchar(30) = '',
	@EMISORNOINTERIOR varchar(30) = '',
	@EMISORFOLIOINIC varchar(50) = ''
AS
	/* jme 20230209. Da de alta un Emisor derivado de los parametros del sp*/
	INSERT INTO tblMRGFEEmisor
	VALUES( @EMISORRFC,
			@EMISORRAZSOCIAL,
			@EMISORESTATUS, 
			@EMISORREGFISCAL,
			@EMISORCORREO,
			@EMISORLOGOURL,
			@EMISORCODPOSTAL,
			@EMISORMUNICIPIO,
			@EMISORESTADO,
			@EMISORCOLONIA,
			@EMISORCALLE,
			@EMISORNOEXTERIOR,
			@EMISORNOINTERIOR,
			@EMISORFOLIOINIC);
GO
/****** Object:  StoredProcedure [dbo].[procMRGFEEmisorEliminar]    Script Date: 07/03/2023 08:03:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procMRGFEEmisorEliminar] 
	@EMISORRFC varchar(50) = ''
AS
	/* jme 20230209. Elimina un Emisor derivado de los parametros del sp*/
	DELETE tEM
	FROM tblMRGFEEmisor tEM
	WHERE 
		NOT EXISTS (
			SELECT 
				tCF.CFDIID,
				tCF.CFDIFOLIOFISCAL,
				tCF.CFDISERIE,
				tCF.CFDIRSOCEMISOR,
				tCF.CFDIRFCEMISOR,
				tCF.CFDIRSOCRECEPTOR,
				tCF.CFDIRFCRECEPTOR,
				tCF.CFDIFECHA,
				tCF.CFDITOTAL,
				tCF.CFDIEMAIL,
				tCF.CFDIESACTIVO,
				tCF.CFDIEMAILENVIADO,
				tCF.CFDIPDF,
				tCF.CFDIXML,
				tCF.CFDIPROCESADO1PDF,
				tCF.CFDIPROCESADO1XML,
				tCF.CFDIURLPDF,
				tCF.CFDIURLXML,
				tCF.CFDIFECHAPROCESADOPDF,
				tCF.CFDIFECHAPROCESADOXML
			FROM tblMRGFECFDIs tCF
            WHERE tCF.CFDIRFCEMISOR = @EMISORRFC)
		AND tEM.EMISORRFC = @EMISORRFC;
GO
/****** Object:  StoredProcedure [dbo].[procMRGFEEmisorRecuperar]    Script Date: 07/03/2023 08:03:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[procMRGFEEmisorRecuperar] 
	@accion int = 0,
	@EMISORRFC varchar(50) = ''
AS
	/* jme 20230215. Consultar los Emisores registrados*/
	IF (@accion = 1)
		SELECT
			tEM.EMISORRFC,
			tEM.EMISORRAZSOCIAL,
			tEM.EMISORESTATUS,
			tEM.EMISORREGFISCAL,
			tEM.EMISORCORREO,
			tEM.EMISORLOGOURL,
			tEM.EMISORCODPOSTAL,
			tEM.EMISORMUNICIPIO,
			tEM.EMISORESTADO,
			tEM.EMISORCOLONIA,
			tEM.EMISORCALLE,
			tEM.EMISORNOEXTERIOR,
			tEM.EMISORNOINTERIOR,
			tEM.EMISORFOLIOINIC
		FROM tblMRGFEEmisor tEM;
	/* jme 20230209. Consultar los emisores con el RFC del parametro de busqueda*/
	IF (@accion = 2)
		SELECT 
			tEM.EMISORRFC,
			tEM.EMISORRAZSOCIAL,
			tEM.EMISORESTATUS,
			tEM.EMISORREGFISCAL,
			tEM.EMISORCORREO,
			tEM.EMISORLOGOURL,
			tEM.EMISORCODPOSTAL,
			tEM.EMISORMUNICIPIO,
			tEM.EMISORESTADO,
			tEM.EMISORCOLONIA,
			tEM.EMISORCALLE,
			tEM.EMISORNOEXTERIOR,
			tEM.EMISORNOINTERIOR,
			tEM.EMISORFOLIOINIC
		FROM tblMRGFEEmisor tEM
		WHERE tEM.EMISORRFC = @EMISORRFC;
GO
USE [master]
GO
